body {
    font-size: 14px;
    font-family: NotoSans-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.53856;
    color: rgb(52, 73, 94);
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    background: rgb(242, 242, 242);
}

#setting .post-container {
    padding-left: 0px;
    padding-right: 0px;
}
.post-container {
    width: 600px;
}
.outer-container, .inner-container, .feed-container, .post-container, .message-container {
    margin-right: auto;
    margin-left: auto;
}
#setting .account-setting {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.5px 1px;
    background: rgb(255, 255, 255);
}
#setting .account-setting .cover-section {
    position: relative;
    height: 200px;
    overflow: hidden;
}
#setting .account-setting .form-inner {
    position: relative;
    padding: 25px;
}
#setting .account-setting .form-inner .form-grid {
    margin-left: -20px;
    margin-right: -20px;
}
#setting .account-setting .form-inner .form-grid .form-cell.form-cell-fluid {
    width: 100%;
}
#setting .account-setting .form-inner .form-grid .form-cell {
    float: left;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    padding: 0px 20px;
}
#setting .account-setting .avatar-section {
    position: relative;
    height: 70px;
    width: 70px;
    overflow: hidden;
    border-radius: 50%;
}
form {
    margin-block-end: 1em;
}
form {
    display: block;
    margin-top: 0em;
}
#setting .account-setting .avatar-section .avatar {
    display: block;
    max-width: 100%;
    max-height: 100%;
}
img {
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}
#setting .account-setting .avatar-section .avatar-upload {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}
#setting .account-setting .avatar-section .avatar-upload .icon {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
    opacity: 0.65;
    transition: all 0.3s ease 0s;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    height: 40;
    width: 40;
    x: 0px;
    y: 0px;
}
g {
    fill: rgb(255, 255, 255);
}
:not(svg), :not(foreignObject) > svg {
    transform-origin: 0px 0px;
}
path {
    d: path("M 336.7 91.7 h 326.7 L 745 214.2 h 122.5 c 33.8 0 62.7 12.2 86.6 36.5 s 35.9 53.4 35.9 87.2 v 448.5 c 0 33.8 -12 62.6 -35.9 86.3 s -52.8 35.6 -86.6 35.6 h -735 c -33.8 0 -62.7 -12 -86.6 -35.9 S 10 819.6 10 785.8 V 337.3 c 0 -33.8 12 -62.8 35.9 -86.9 s 52.8 -36.2 86.6 -36.2 H 255 L 336.7 91.7 Z M 500 336.7 c 27.6 0 54.1 5.4 79.3 16.3 c 25.2 10.8 46.9 25.4 65.1 43.5 s 32.7 39.9 43.5 65.1 c 10.8 25.2 16.3 51.6 16.3 79.3 c 0 27.6 -5.4 54.1 -16.3 79.3 c -10.8 25.2 -25.4 46.9 -43.5 65.1 s -39.9 32.7 -65.1 43.5 C 554.1 739.6 527.6 745 500 745 s -54.1 -5.4 -79.3 -16.3 c -25.2 -10.8 -46.9 -25.4 -65.1 -43.5 s -32.7 -39.9 -43.5 -65.1 s -16.3 -51.6 -16.3 -79.3 c 0 -27.6 5.4 -54.1 16.3 -79.3 c 10.8 -25.2 25.4 -46.9 43.5 -65.1 s 39.9 -32.7 65.1 -43.5 C 445.9 342.1 472.4 336.7 500 336.7 Z M 500 418.3 c -33.8 0 -62.7 12 -86.6 35.9 s -35.9 52.8 -35.9 86.6 c 0 33.8 12 62.7 35.9 86.6 s 52.8 35.9 86.6 35.9 c 33.8 0 62.7 -12 86.6 -35.9 s 35.9 -52.8 35.9 -86.6 c 0 -33.8 -12 -62.7 -35.9 -86.6 S 533.8 418.3 500 418.3 Z M 701.3 295.8 l -80.1 -122.5 H 380.4 l -81.7 122.5 H 132.5 c -11.3 0 -20.9 4 -28.9 12.1 c -8 8.1 -12 17.9 -12 29.3 v 448.5 c 0 11.3 4 20.9 12 28.9 c 8 8 17.6 12 28.9 12 h 735 c 11.5 0 21.2 -3.9 29 -11.6 c 7.9 -7.8 11.8 -17.3 11.8 -28.6 V 337.9 c 0 -11.5 -4 -21.4 -12.1 -29.7 c -8.1 -8.3 -17.7 -12.4 -28.7 -12.4 L 701.3 295.8 L 701.3 295.8 Z");
}
.hidden {
    display: none !important;
}
input {
    line-height: normal;
}
input{
    color: inherit;
    font: inherit;
    margin: 0px;
}
input:not([type="image" i]){
    box-sizing: border-box;
}
input[type="file" i] {
    align-items: baseline;
    text-align: start !important;
}
input[type="file" i] {
    -webkit-appearance: initial;
    background-color: initial;
    cursor: default;
    padding: initial;
    border: initial;
}
input {
    -webkit-rtl-ordering: logical;
}
input, textarea,button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
}
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
#setting .account-setting .form-inner .form-description {
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 25px;
    height: 70px;
    border: 1px solid #CCC;
    padding: 10px;
    background: #FFF;
    border-radius: 3px;
    resize: none;
    width: calc(100% - 150px);
    box-sizing: border-box;
}
textarea {
    -webkit-appearance: textarea;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
textarea {
    font-family: inherit;
    color: inherit;
    overflow: auto;
}
button, input, optgroup, select {
    color: inherit;
    font: inherit;
    margin: 0px;
}
textarea, select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

#setting .account-setting .form-inner .form-grid .form-cell {
    float: left;
    width: 50%;
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
    padding: 0px 20px;
}
#setting .account-setting .form-inner .form-grid .form-cell .form-label {
    color: rgb(119, 119, 119);
    display: block;
    margin-bottom: 5px;
}
.form-inner .form-label {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
label {
    cursor: default;
}
#setting .account-setting .form-inner .form-icon {
    display: block;
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    left: 26px;
    top: 38px;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    height: 19;
    width: 19;
    x: 0px;
    y: 0px;
}
#setting .account-setting .form-inner .form-control.form-username
{
    padding-left: 35px;
}
#setting .account-setting .form-inner .form-control {
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
    position: relative;
    outline: 0px;
    border-width: 0px 0px 1px;
    border-image: initial;
    border-bottom: 1px solid rgb(204, 204, 204);
    background: none;
}
#setting .account-setting .cover-section {
    position: relative;
    height: 200px;
    overflow: hidden;
}
form {
    margin-block-end: 1em;
}
form {
    display: block;
    margin-top: 0em;
}
#setting .account-setting .cover-section .cover-upload {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
}
#setting .account-setting .cover-section .cover-upload:hover .icon {
    transform: scale(1.1);
}
#setting .account-setting .cover-section .cover-upload .icon{
    transition: all 0.3s ease 0s;
}
#setting .account-setting .cover-section .cover-upload .icon {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -30px;
    opacity: 0.65;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    height: 50;
    width: 50;
    x: 0px;
    y: 0px;
}
.form-inner .form-label {
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}
#setting .account-setting .form-inner .change-password {
    color: rgb(47, 181, 250);
}
.pull-right {
    float: right;
}
a {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
#setting .account-setting .form-inner .change-password .fa {
    margin-right: 5px;
}
i, cite, em, var, address, dfn {
    font-style: italic;
}
svg{
    height: 16;
    width: 20;
    x: 0px;
    y: 0px;
}


#setting .account-setting .form-inner .form-control[disabled="disabled"] {
    color: rgb(153, 153, 153);
}
#setting .account-setting .form-inner .form-control.form-email
{
    padding-left: 35px;
}
input[disabled] {
    cursor: default;
}
#setting .account-setting .form-inner .form-control.form-date {
    padding-left: 35px;
}
#setting .account-setting .form-inner .form-control.form-date select {
    display: inline-block;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    outline: 0px;
    background: none;
}
select {
    text-transform: none;
}
select{
    color: inherit;
    font: inherit;
    margin: 0px;
}
select {
    border-radius: 0px;
}
select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    cursor: default;
}
select, button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
}
select {
    -webkit-writing-mode: horizontal-tb !important;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
select {
    text-transform: none;
}
#setting .account-setting .form-inner .form-radio {
    line-height: 35px;
}
#setting .account-setting .form-inner .form-radio input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 15px;
    width: 15px;
    background: none;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(153, 153, 153);
    border-image: initial;
    outline: 0px;
    border-radius: 50%;
}
input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
}
input {
    line-height: normal;
}

a {
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
#setting .account-setting .form-inner .change-password .fa {
    margin-right: 5px;
}
i{
    font-style: italic;
}
#setting .account-setting .form-inner .change-password {
    color: rgb(47, 181, 250);
}
#setting .account-setting .form-inner .toggle-option {
    color: rgb(52, 73, 94);
    line-height: 24px;
    display: block;
    margin-top: 20px;
}
.toggle-option {
    margin-bottom: 20px;
}
.pull-right {
    float: right;
}
#setting .account-setting .form-inner .toggle-option .switch {
    display: block;
    position: relative;
}
#setting .account-setting .form-inner .form-action {
    margin-top: 25px;
}
.btn.btn-danger {
    color: rgb(26, 11, 11);
    border-color: rgb(217, 83, 79);
    background: rgb(217, 83, 79);
}
.btn.btn-round {
    border-radius: 20px;
}
.btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    padding: 6px 18px;
    border-width: 1px;
    border-style: solid;
    border-image: initial;
}
.btnE{
    color: rgb(255, 255, 255);
    background: rgb(0, 76, 148);
    border-color: rgb(0, 76, 148);
    border-radius: 20px;
    height: 30px;
}
.btnP{
    color: red;
    background: white;
    border-color: red;
    border-radius: 20px;
    height: 30px;
}
.btnC{
    color:black;
    background: rgb(217, 255, 0);
    border-color: rgb(217, 255, 0);
    border-radius: 20px;
    height: 30px;
}
.btnS{
    
    border-radius: 20px;
    height: 30px;
}

input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.outer-container, .inner-container, .feed-container, .post-container, .message-container, .clearfix{
    clear: both;
}
.outer-container, .inner-container, .feed-container, .post-container, .message-container, .clearfix{
    content: "";
    line-height: 0;
}
input:checked + .slider {
    background-color: #2196F3;
}
.switch {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(17px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#myID{
  display: none;
}
#myId1{
    display: none;
}
#myId2{
    display: none;
}
.btn{
    width: 564px;
    margin-left: 375px;
    background: #FFF;
}