body{font-family: Tahoma;
    font-size:  13px;
    width: 360px;
    height: 200px;
    margin: auto;
    }
  
  form {
    box-sizing: border-box;
    width: 360px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
    padding-bottom: 20px;
    border-radius: 3px;
    margin-top: 100px;
  }
  form h1 {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    color: #1a66a8;
    text-align: center;
    padding: 20px;
  }
  form input {
    margin: 20px 25px;
    width: 300px;
    display: block;
    line-height: 40px;
    border: none;
    padding: 5px 0;
    border-bottom: solid 1px #1a66a8;
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1a66a8 4%);
    background-position: -300px 0;
    background-size: 300px 100%;
    background-repeat: no-repeat;
    color: #787878;
    font-size: 12px;
  }
  input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
  }
  input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
    color: #787878;
    font-size: 7px;
    transform: translateY(-20px);
    visibility: visible !important;
  }
  input:hover::-webkit-input-placeholder{
    color: #787878;
    font-size: 7px;
    transform: translateY(-20px);
    transition: 400ms;
    visibility: visible !important;
  }
  ::-webkit-input-placeholder {
      font-style: italic;
  }
   
  button {
    border: none;
    margin-top: 20px;
    background: #1a66a8;
    cursor: pointer;
    border-radius: 3px;
    padding: 15px;
    width: 300px;
    color: white;
    margin-left: 25px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
  }
  button:hover {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2);
  }
.notice{
  margin-left: 20px;
  color: #787878;
}
.link{
  color: #1a66a8;
}
.error {
  color: red;
  margin-left: 20px;
  font-size: 8px;
}